### Configuration ###
application.properties
application-*.properties
*.yml
*.yaml

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.orig
pom.xml.saved
pom.xml.next
release.properties
dependency-reduced-pom.xml
build.log

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
.project
.classpath
.factorypath

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
